// COLOR
$color-primary: #896deb;
$color-primary-light: #a796e8;
$color-primary-dark: #6b66c6;

$color-secondary: #ff9933;
$color-secondary-light: #ffb972;
$color-secondary-dark: #ff8000;

$color-grey-light-1: #eeeaea;
$color-grey-light-2: #cdcdcd;
$color-grey-light-3: #c0c0c0;
$color-grey-light-4: #b4b4b4;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// SHADOW
$box-shadow-1: 0 1.5rem 4rem rgba($color-black, 0.15);
