.trending {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;

  & > * {
    margin-right: 2rem;
  }

  &__song {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 20rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__author {
    font-size: 1.2rem;
  }
}
